.hero {
	background-image: url(../../img/slide1.jpg);
	background-size: cover;
}
.lets-chat-div {
	background-image: url(../../img/cta.jpg);
	padding: 50px;
	margin: auto;
	max-width: 1140px;
	background-size: cover;
}
article.work-tile div.copy.color-override {
	background-color: #ffcc00;
	opacity: 0.75 !important;
	padding: 20px;
}
